@import url('https://fonts.googleapis.com/css2? family= Inter:wght@100;200;300;400;500;600;700 & family= Lexend:wght@400;500; 600 & family= Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900 & display=swap');

.mainHeader {
    max-width: 1603px;
    height: 70px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;

    background: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
}

.mainHeader img {
    padding: 23px 0 23px 28px;
}  

.mainHeader ul {

    display: flex;
    flex-direction: row;
    width: 346px;
    height: 16px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 27px 35px 27px 0;
}

.mainHeader ul li {
    box-sizing: border-box;
}

.mainHeader > ul > li:nth-child(1) {
    width: 42.7px;
}

.mainHeader > ul > li:nth-child(2) {
    width: 78.5px;
}

.mainHeader > ul > li:nth-child(3) {
    width: 66.7px;
}

.mainHeader > ul > li:nth-child(4) {
    width: 75.28px;
}

.mainHeader ul li a {
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    box-sizing: border-box;
    color: #242424;
}

.mainHeader ul li a:hover {
    font-weight: 600;
    color: #292929;
}

.containerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1603px;
    gap: 20px;
}

.containerListaProdutos {
    width: 968px;
    height: 838px;
    margin-top: 70px;
    box-sizing: border-box;
}

.containerListaProdutos ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2.5px;
    gap: 15px;
}

.containerListaProdutos ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 296px;
    height: 408px;
    box-sizing: border-box;
    border: 2px solid #F5F5F5;
}

.containerListaProdutos ul li:hover {
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.651);
}

.containerListaProdutos ul li figure {
    width: 296px;
    height: 154px;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.cardDescricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    gap: 15px;

    width: 296px;
    height: 254px;
}

.buttonType {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 5px;
    gap: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    width: 70px;
    height: 24px;
    color: #FFFFFF;
    border: none;
    background: #2E245E;
}

.buttonType:hover {
    cursor: pointer;
}

.cardDescricao h3 {
    width: 269px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #292929;
}

.cardDescricao p:nth-child(3) {
    width: 269px;
    height: 72px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #242424;
}

.cardDescricao p:nth-child(4) {
    width: 269px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2E245E;
}

.buttonCarrinho {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
    background: #FFFFFF;

    border: none;
}

.buttonCarrinho:hover {
    text-decoration: underline;
    cursor: pointer;
}

.containerFilter {
    display: flex;
    gap: 10px;
}

.containerFilter input {
    width: 246px;
    height: 50px;
    margin-top: 70px;
    padding-left: 20px;
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
    box-sizing: border-box;
}

.containerFilter input:focus {
    outline: 1.5px solid #37268C;
}

.containerFilter button {
    width: 96px;
    height: 50px;

    margin-top: 70px;
    margin-right: 28px;
    color: #FFFFFF;
    border: none;
    background: #37268C;
}

.containerFilter button:hover {
    cursor: pointer;
}

.carrinhoHeader {
    width: 352px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    margin-top: 30px;
    background: #37268C;
    border: none;
}
.carrinhoHeader h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    color: #FFFFFF;
}

.containerCarrinhoVazio {
    width: 352px;
    min-height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 95px;
    gap: 10px;
    background: #F5F5F5;
}

.containerCarrinhoItem {
    width: 352px;
    min-height: 214px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    background: #F5F5F5;
}

.containerCarrinho ul h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #292929;
}

.containerCarrinho ul h6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
}

.containerCarrinho ul li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;

    width: 282px;
    height: 92px;
}


.containerCarrinho ul li:hover {
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.651);
}

.containerCarrinho ul li figure {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    
    width: 88px;
    height: 92px;
    
    background: #FFFFFF;
}

.containerCarrinho ul li img {
    width: 88px;
    height: 67px;
}

.containerCarrinho ul div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    align-items: center;
    padding: 0px;
    gap: 14px;

    width: 176px;
    height: 92px;
}

.containerCarrinhoVazio li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 14px;

    width: 176px;
    height: 92px;
}

.containerCarrinhoItem li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    width: 176px;
    height: 92px;
}

.containerCarrinho ul div h3 {
    width: 176px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    /* line-height: 24px; */
    color: #333333;
}

.containerCarrinho ul div p {
    width: 70px;
    height: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #2E245E;
}

.containerCarrinho ul div button {
    /* width: 115px; */
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    border: none;
    color: #242424;
}

.containerCarrinho ul div button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.containerPrecoTotal {
    display: none;
}

.containerPrecoTotalTwo {
    width: 352px;
    height: 126px;

    background: #292929;
}
.containerPrecoTotalTwo p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 19.3px 10px;

    color: #FFFFFF;
}

.containerPrecoTotalTwo span {
    display: flex;
    justify-content: space-between;
}